<div
  class="displayTable"
  style="
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  "
>
  <div
    class="displayTableCell"
    style="justify-content: center; align-items: center"
  >
    <div class="authBlock">
      <h3 style="letter-spacing: 1px; color: #004f71">Reset Password</h3>

      <p class="text-center">
        Please enter your email address to request a password reset.
      </p>

      <div class="formGroup">
        <input
          style="
            height: 56px;
            border-radius: 4px;
            background-color: #fff;
            width: 100%;
            font-size: 20px;
            color: #4a4a4a;
            padding: 10px 16px;
            border: none;
          "
          type="email"
          class="formControl input-lg formInputs"
          placeholder="Email Address"
          #passwordResetEmail
          required
        />
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input
          type="submit"
          class="btn btnPrimary"
          style="color: #004f71"
          value="Reset Password"
          (click)="authService.forgotPassword(passwordResetEmail.value)"
        />
      </div>
    </div>

    <div class="redirectToLogin">
      <span style="color: #004f71; display: block; margin-left: 10px"
        >Go back to<span
          style="
            cursor: pointer;
            color: #fff;
            background-color: #004f71;
            padding: 3px;
          "
          class="redirect"
          routerLink="/login"
          >Login</span
        ></span
      >
    </div>
  </div>
</div>
