<!-- Footer-->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="h-100 text-center">
        <p class="text-muted small mb-4 mb-lg-0">
          &copy; CRUD APP 2022. All Rights Reserved.
        </p>
      </div>
      <div class="mt-5 h-100 text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-4">
            <a href="#!"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li class="list-inline-item me-4">
            <a href="#!"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="#!"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
