.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: space-evenly;
    li {
      padding-left: 50px;
    }
  }
}
