<div class="container">
  <div class="p3-y">
    <h6 class="title">Edit TODO</h6>
  </div>
  <div class="my-3 p-3">
    <form [formGroup]="todoForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          formControlName="title"
          id="title"
          placeholder="Title"
          required
        />
        <span
          class="text-danger"
          *ngIf="
            todoForm.controls['title'].dirty &&
            todoForm.hasError('required', 'title')
          "
          >*Title is Required!</span
        >
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="Description"
          formControlName="description"
        />
      </div>
      <div class="form-group">
        <h6>Priority</h6>
        <input type="radio" id="high" formControlName="priority" value="High" />
        <label for="high">High</label><br />
        <input
          type="radio"
          id="medium"
          formControlName="priority"
          value="Medium"
        />
        <label for="medium">Medium</label><br />
        <input type="radio" id="low" formControlName="priority" value="Low" />
        <label for="low">Low</label>
      </div>
      <div class="form-group">
        <h6>Status</h6>
        <input type="radio" id="true" formControlName="status" value="true" />
        <label for="true">Completed</label><br />
        <input type="radio" id="false" formControlName="status" value="false" />
        <label for="false">Not Completed</label><br />
      </div>
      <div class="form-group">
        <label for="date">Due Date</label>
        <input
          type="date"
          class="form-control"
          formControlName="date"
          id="date"
          placeholder="Due Date"
        />
      </div>
      <div class="form-group none">
        <label for="uid"></label>
        <input
          type="text"
          class="form-control"
          formControlName="uid"
          placeholder="Due Date"
        />
      </div>
      <button
        type="button"
        class="btn btn-success"
        [disabled]="!todoForm.valid"
        (click)="update()"
      >
        Submit
      </button>
      <button class="btn btn-danger" (click)="remove()">Delete</button>
      <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
