<div class="container">
  <div class="d-flex p3-y">
    <h6>Edit TODO</h6>
    <div class="mt-1"></div>
  </div>
  <div class="my-3 p-3">
    <form [formGroup]="todoForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-fontrol"
          formControlName="title"
          id="title"
          placeholder="Title"
          required
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-fontrol"
          id="description"
          placeholder="Description"
          formControlName="description"
        />
      </div>
      <div class="form-group">
        <h6>Priority</h6>
        <input type="radio" id="high" formControlName="priority" value="High" />
        <label for="high">High</label><br />
        <input
          type="radio"
          id="medium"
          formControlName="priority"
          value="Medium"
        />
        <label for="medium">Medium</label><br />
        <input type="radio" id="low" formControlName="priority" value="Low" />
        <label for="low">Low</label>
      </div>
      <div class="form-group">
        <label for="date">Due Date</label>
        <input
          type="date"
          class="form-fontrol"
          formControlName="date"
          id="date"
          placeholder="Due Date"
          [disabled]="disabled"
        />
      </div>
      <div class="form-group">
        <label for="status"></label>
        <input
          type="date"
          class="form-fontrol"
          formControlName="status"
          placeholder="Due Date"
          hidden
        />
      </div>
      <div class="form-group">
        <label for="uid"></label>
        <input
          type="date"
          class="form-fontrol"
          formControlName="uid"
          placeholder="Due Date"
          hidden
        />
      </div>
      <button type="submit" class="btn btn-success" (click)="update()">
        Submit
      </button>
      <button class="btn btn-danger" (click)="remove(todo.id)">Delete</button>
      <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
