<div class="container">
  <div class="p3-y">
    <h6 class="h6">Add TODO</h6>
    <div class="mt-1"></div>
  </div>
  <div class="my-3 p-3 col-lg-6 m-auto">
    <form (ngSubmit)="onSubmit()" [formGroup]="todoForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          formControlName="title"
          id="title"
          placeholder="Title"
          required
        />
        <span
          class="text-danger"
          *ngIf="
            todoForm.controls['title'].touched &&
            todoForm.controls['title'].dirty &&
            todoForm.hasError('required', 'title')
          "
          >*Title is Required!</span
        >
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="Description"
          formControlName="description"
        />
      </div>
      <div class="form-group">
        <h6>Priority</h6>
        <div class="priority">
          <div class="single">
            <input
              type="radio"
              id="high"
              formControlName="priority"
              value="High"
            />
            <label for="high">High</label><br />
          </div>
          <div class="single">
            <input
              type="radio"
              id="medium"
              formControlName="priority"
              value="Medium"
            />
            <label for="medium">Medium</label><br />
          </div>
          <div class="single">
            <input
              type="radio"
              id="low"
              formControlName="priority"
              value="Low"
            />
            <label for="low">Low</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="date">Due Date</label>
        <input
          type="date"
          class="form-control"
          formControlName="date"
          id="date"
          placeholder="Due Date"
          required
        />
      </div>
      <div class="form-group">
        <label for="created" class="label"></label>
        <input
          type="date"
          class="form-control none"
          formControlName="created"
          placeholder="Due Date"
        />
      </div>
      <div class="form-group">
        <label for="status" class="label"></label>
        <input
          type="date"
          class="form-control none"
          formControlName="status"
          placeholder="Due Date"
        />
      </div>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!todoForm.valid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
