<div class="displayTable" style="margin-top: 10%; padding-bottom: 30px">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3 style="color: #004f71">Thank You for Registering</h3>

      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">
          We have sent a confirmation email to <strong>{{ user.email }}</strong
          >.
        </p>
        <p class="text-center">
          Please check your email and click on the link to verfiy your email
          address.
        </p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button
          type="button"
          class="btn btnPrimary"
          (click)="authService.sendVerificationEmail()"
          style="background-color: #004f71; color: #fff; margin-bottom: 15px"
        >
          <i class="fas fa-redo-alt"></i>
          Resend Verification Email
        </button>
      </div>
    </div>

    <div class="redirectToLogin">
      <span
        >Go back to
        <Button
          class="redirect btn"
          style="background-color: #004f71; color: #fff"
          routerLink="/login"
          >Sign in
        </Button>
        ?</span
      >
    </div>
  </div>
</div>
