<header class="masthead">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="text-center text-white">
          <!-- Page heading-->
          <h1 class="mb-5">
            Welcome to my TodoList App using Angular and Firebase!
          </h1>
          <p>
            It's a simple TodoList Sechduler using Angular. You can create your
            own Task, Update it, Mark them as done and Delete it!
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
